
/* AppComponent's private CSS styles */
.fondo {
    background-color: rgba(255, 255, 255, 0.781);
    margin: 80px 50px;
    height: 1200px;
    border-radius: 10px;
    //display: block;
    text-align: center;
    //justify-content: center;
    //align-content: center;
    //align-items: center;
   
   // align-self: center;
    //flex-flow: column wrap;
    // justify-content: center;
    // background-size: 25px 50px;
    // background-size: 50% 50%;
   
    // align-items: center;
   
}

//   nav a {
//     padding: 1rem;
//     text-decoration: none;
//     margin-top: 10px;
//     display: inline-block;
//     background-color: #1B3C66;
//     color: #fff;
//     border-radius: 4px;
//   }
//   nav a:hover {
//     color: white;
//     background-color: #42545C;
//   }
//   nav a.active {
//     background-color: black;
//   }
  