<p>modal works!</p>
<p>{{modalConten}}</p>
<div id="headerResumenCompra">
    <h2>Resumen de la compra</h2>
    <img class="exit"src="\assets\cerrar.png" alt="boton cerrar resumen">
  </div>
<table>
  <tr>
    <th>Items</th>
    <th>Precio</th>
    <th>Cantidad</th>
  </tr>
  
  <tr  *ngFor="let itemPedido of modalConten" >
    
    <td>{{itemPedido.nombre}}</td>
    <td>${{itemPedido.precio | multiplicarPrecio: itemPedido.cantidad}}</td>
    <td>{{itemPedido.cantidad}}</td>
    <td>
    </tr>
 </table>
<app-resumen-compra ></app-resumen-compra>