div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    //border: solid blue;
    width: 50%;
   // margin-right: 10px;
    margin-left: 50px;
}

p {
   // border: solid blue;
    //background-color: chartreuse;
    padding: 10px 10px;
    margin: 1px;
    //margin-right: 50px;
     width: 20%;
}
