
<section>
  <header>

    <img class="img-logo" src="./assets\LOGOBURGER.png"/> 

    <div>
    <img src="./assets\mesero.png"/> 
    <p>Mesero</p>
    </div>
    <nav>
      <div>
      <img src="./assets\campana.png"/> 
      <p>ver mesas</p>
      </div>

      <img src="./assets/boton_atras.png" alt="boton atras"/>
    </nav>
  </header>

  <nav>
    <hr>
    <label for="nombreCliente"> Nombre del cliente  </label>
    <input type="text" id="nombreCliente">

    <label for="numeroMesa"> <img src="\assets\mesa.png"/></label>
    <input type="text" id="numeroMesa">

    <hr>
    <button (click)="getMenuDesayuno() " id="Desayuno">Desayuno</button>
    
    <button (click)= " getMenuDesayuno() "id = "almuerzoCena">Almuerzo y Cena</button>
    <app-menu-desayuno *ngIf="showBreakfast"></app-menu-desayuno>
    <app-menu-almuerzo-cena *ngIf="!showBreakfast"></app-menu-almuerzo-cena>
  </nav>
</section> 
  <router-outlet></router-outlet>