<h2>Menú Almuerzo y Cena</h2>
<!-- <div *ngFor="let item of almuerzoYcena">
    <p>{{item.almuerzo}}</p>
    <p>{{item.precio}}</p>
    <p>{{item.cantidad}}</p>
    <p>{{item.item}}</p>
</div> -->
<ul>
    <li *ngFor="let item of almuerzoYcena">
        {{item.item}}
        {{item.precio}}
        {{item.cantidad}}
        <app-inc-dec></app-inc-dec>
        <p *ngFor= "let carne of item.carnes" >
            {{carne.item}}
        </p>

        <p *ngFor="let adicional of item.adicionales">
            {{adicional.item}}
            {{adicional.precio}}
            {{adicional.cantidad}}
        </p>
    </li>
</ul>
<app-resumen-compra></app-resumen-compra>