<h2>Menú Almuerzo y Cena</h2>
<!-- <div *ngFor="let item of almuerzoYcena">
    <p>{{item.almuerzo}}</p>
    <p>{{item.precio}}</p>
    <p>{{item.cantidad}}</p>
    <p>{{item.item}}</p>
</div> -->
<ul>
    <li *ngFor="let item of almuerzoYcena">
        
        <app-inc-dec [Item]="item"></app-inc-dec>
        <p *ngFor= "let carne of item.carnes" >
            {{carne.item}}
        </p>

        <p *ngFor="let adicional of item.adicionales">
            {{adicional.item}}
            {{adicional.precio}}
            {{adicional.cantidad}}
        </p>
    </li>
</ul>
<app-resumen-compra></app-resumen-compra>








<!-- 

<section id="contendorMenu" class="MenuAlmuerzo-Cena"> 
    <h2>Menú Almuerzo y Cena</h2>
    <table>
        <tr>
          <th>Items</th>
          <th>Precio</th>
          <th></th>
        </tr>
             
    </table>
    <div  *ngFor=*ngFor="let item of almuerzoYcena" >
        <app-inc-dec [Item]="item"></app-inc-dec>
            <div> *ngFor= "let carne of item.carnes" >
                {{carne.item}}
            </div>
    
        </zdiv> *ngFor="let adicional of item.adicionales">
                {{adicional.item}}
                {{adicional.precio}}
                {{adicional.cantidad}}
            </div>
      
    </div>
    
    </section>
    <app-resumen-compra></app-resumen-compra> -->